.find-books {
  margin-top: 20px;
  display: flex;
  align-items: start;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 20px;
}
.find-books h1 {
  text-decoration: underline;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.find-books-search {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a90e2;
  /* Soft blue */
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.find-books-search:hover {
  background-color: #357ABD;
  transform: translateY(-2px);
}

.find-books-search:active {
  transform: scale(0.98);
}

.book-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  row-gap: 15px;
  column-gap: 15px;
}

@media (max-width: 1220px) {
  .book-details {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .book-details {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .book-details {
    grid-template-columns: 1fr;
  }

}